<div position: absolute; left: 300px; >
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
</div>

<form action="/links" method="post">
  <div>
  <label> Title </label>
  <input type="text" name="title">
  </div>
  <div>
  <label> URL </label>
  <input type="text" name="url">
  </div>
  <div>
  <label> Tags </label>
  <input type="text" name="tags">
  </div>
  <div>
  <input type="submit" value="Create Link">
  </div>
</form>
