<h1> Filter your bookmarks by their tags! </h1>
<form action = "tags/filter" method = "get">
  <div>
    <label> Search </label>
  <input type = "text" name = "Search tags">
  </div>

  <div>
  <input type="submit" value="Search Link">
  </div>
</form>
